<ion-header>
  <ion-toolbar>
    <ion-title text-center>Set Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div style="padding-top: 10%;">

  <ion-list>
    <ion-img src="../../../assets/PWA-logo/88.png" id="sz"></ion-img>
  </ion-list>
  
    <form [formGroup]="registration" (submit)="Continue(registration)">

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
          <ion-label position="floating">Set Your Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Your phone number" 
          [class.invalid]="!registration.controls.password.valid && registration.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item no-lines class="error-message" 
          *ngIf="!registration.controls.password.valid  && registration.controls.password.dirty">
          <p>You Password Must be length at least 8 </p>
        </ion-item>
    </ion-list>

    <ion-list>
      <div class="ion-padding">
        <ion-button expand="block" [disabled]="!registration.valid"  type="submit" class="ion-no-margin">Continue</ion-button>
      </div>
    </ion-list>
    
  </form>

 <ion-grid>
  <ion-row>
    <ion-col> 
      <ion-text>
        <div class="ion-padding">
          <div class="ion-text-center">
            By signing up you have agree to our <br> Terms of Use & Privacy Policy
          </div>
        </div>
      </ion-text>
    </ion-col>
  </ion-row>
 </ion-grid>


</div>
</ion-content>


