<div #map>
  <!-- Searchbar disabled -->
  <ion-searchbar   (ionChange)="updateSearch()" placeholder="Enter Your Locations Address"></ion-searchbar>


  <ion-searchbar [(ngModel)]="autocomplete.query" (ionChange)="updateSearch()" placeholder="Add Pick Up Your Locations Address"></ion-searchbar>
  <ion-list>
    <ion-item id="onbar" *ngFor="let item of autocompleteItems" tappable (click)="calculateRoute(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</div>
<button (click)="getCurrentLocation()">
    <ion-icon name="navigate"></ion-icon>
</button>
<!-- <div>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</div> -->
