
ion-searchbar{
  

    color: black;
    ::placeholder{
        font-weight: 700;
        color: black;
    }
}

.searchbar-input-container{
    .searchbar-input{
        border-radius: 0 !important;
    }
}
ion-searchbar{
    --background: #fff;
}

ion-list {
    background-color: #fff;
    display: contents;
    list-item{
        margin: 0 10px 0 10px;
    }
}
list-item{
    margin: 0 10px 0 10px;
}
.sc-ion-searchbar-md-h{
    background: none;
}